<div class="container-fluid py-4 px-3">
     <div class="row align-items-center mb-4">
          <div class="col-12 col-md-6 d-flex align-items-center gap-2">
               <i class="fa-solid fa-arrow-left-long cursor-pointer" (click)="goToBack()"></i>
               <h3 class="mb-0">User Data</h3>
          </div>

          <div class="col-12 col-md-6">
               <div
                    class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-end gap-3">
                    <div>
                         <label for="widgetSelect" class="form-label mb-1 fw-semibold">Widget Component</label>
                         <select id="widgetSelect" class="form-select" (change)="selectWidget($event)">
                              <option *ngFor="let item of widgetOptions" [value]="item">{{ item }}</option>
                         </select>
                    </div>

                    <app-widget [data]="selectedWidgetData"></app-widget>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-12 col-md-12">
               <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="userData">
                         <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef> Id </th>
                              <td appHilights mat-cell *matCellDef="let element"> {{element.id}} </td>
                         </ng-container>

                         <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef> Name </th>
                              <td appHilights mat-cell *matCellDef="let element"> {{element.name}} </td>
                         </ng-container>

                         <ng-container matColumnDef="username">
                              <th mat-header-cell *matHeaderCellDef> User Name </th>
                              <td appHilights mat-cell *matCellDef="let element"> {{element.username}} </td>
                         </ng-container>

                         <ng-container matColumnDef="email">
                              <th mat-header-cell *matHeaderCellDef> Email </th>
                              <td appHilights mat-cell *matCellDef="let element"> {{element.email}} </td>
                         </ng-container>

                         <ng-container matColumnDef="menu">
                              <th mat-header-cell *matHeaderCellDef> Action </th>
                              <td mat-cell *matCellDef="let element">
                                   <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                   </button>
                                   <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="openUserDataDetailsPopup(element)">
                                             <span>View Details</span>
                                        </button>
                                   </mat-menu>
                              </td>
                         </ng-container>

                         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                         aria-label="Select page of periodic elements">
                    </mat-paginator>
               </div>
          </div>
     </div>
</div>